
    <div class="poster">
        <a target="_blank" href="https://www.youtube.com/watch?v=azVQp9OqjJU">Sousou no Frieren, written by Kanehito Yamada</a>
        <img style="width: 100%;" src="https://media.discordapp.net/attachments/624756616700624908/1167175084839014431/Frieren_Altered_copy.png?ex=654d2b81&is=653ab681&hm=42e936de1f3689d009560c387e476bd3aa2208b710aa05e660796a751407fbf6&=&width=1208&height=600" alt="">
        <div class="after"></div>
        <div class="content">
            <app-signup-form></app-signup-form>
        </div>
    </div>



