<div class="container">
    <h1>Quick Anime Search</h1>
    <h2>Look up any anime tv series and movie with one quick search </h2>
    <mat-form-field class="search-field">
        <mat-label>Look up any show...</mat-label>
        <input matInput/>
        <button mat-icon-button matSuffix>
            <mat-icon>search</mat-icon>
          </button>
    </mat-form-field>
    <div class="search-results">
        <div class="result" *ngFor="let result of visibleResults">
            <img [src]="result.imageUrl"/>
            <h3>{{result.name.slice(0,17).trim()}}<span *ngIf="result.name.length > 17">...</span></h3>
        </div>
    </div>
</div>
