:host {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .mat-form-field{
    min-width: 400px;
  }

  button{
    font-size: larger;
    width: 50%;
    margin: 10px;
  }

  .button-panel{
    display: flex;
    justify-content: space-between;
  }

@media (max-width:600px) {
  .mat-form-field{
    min-width: 300px;
  }
}

.error-text{
  color: red;
  font-weight: bold;
  text-align: center;
  margin-top: 5px;
}

.mat-raised-button{
  min-width: 100px;
}