
.example-spacer {
    flex: 1 1 auto;
  }

.navbar{
    background-color: black;
    color: white;
}

.navbar-header {
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: white;
  text-decoration: none;
  font-size: x-large;
  font-family: 'Mochiy Pop One', sans-serif;
}

.navbar-item{
    margin: 5px;
    padding: 5px;
    color: white;
    text-decoration: none;
}

.navbar-list{
  display: flex;
  flex-direction: row;
}

.navbar-item:hover{
    opacity: 80%;
}

img{
  height: 50px;
  margin-right: 15px;
}

@media (min-width: 599px) {
    .menu-button {
      display: none;
    }
    
  }

  @media (max-width: 768px) {
    .navbar-list{
        display: none;
    }
  }