<mat-toolbar class="navbar">
    <a href="/" class="navbar-header">
      <img src="../../assets/logo.png"/>
      <span>Ippo!!</span>
    </a>
    <span class="example-spacer"></span>
    <div class="navbar-list">
      <a class="navbar-item" href="/login">
        Log In
      </a>
      <a class="navbar-item" href="/signup">
        Sign Up
      </a>
  </div>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon class="menu-button">menu</mat-icon>
    </button>
</mat-toolbar>

  
  
