
.example-spacer {
    flex: 1 1 auto;
  }

.navbar{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: black;
    color: white;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 0;
    border-radius: 4px;
}

.disabled{
  pointer-events: none;
  opacity: 80%;
  font-weight: lighter;
}

.navbar-header {
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: white;
  text-decoration: none;
  font-size: x-large;
  font-family: 'Mochiy Pop One', sans-serif;
}

.navbar-item{
    margin: 5px;
    padding: 5px;
    color: white;
    text-decoration: none;
}

.navbar-list{
  display: flex;
  flex-direction: row;
}

.navbar-link:hover{
    opacity: 80%;
}

img{
  height: 50px;
  margin-right: 15px;
}


.mobile-list{
  position:fixed;
  top: 90px;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(10px);
  margin: auto;
  border-radius: 4px;
  z-index: 1000;
  width: 90%;
}

.mobile-list-section{
  display: flex;
  padding: 8px;
  flex-direction: column;
  text-align: center;
  font-size: large;
  font-weight: lighter;
}

.mobile-list-section a{
  text-decoration: none;
  padding: 10px;
  color: white;
}

.mobile-list-section p{
  color: white;
  padding: 10px;
  font-weight: bold;
}

.mobile-list-section a:hover{
  opacity: 80%;
}
