<p>
    <mat-toolbar class="navbar">
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>bookmark</mat-icon>
      </button>
      <span>Bookmark.TV</span>
      <span class="example-spacer"></span>
      <div class="navbar-list">
        <span class="navbar-item">
          Log In
        </span>
        <span class="navbar-item">
          Sign Up
        </span>
    </div>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon class="menu-button">menu</mat-icon>
      </button>
    </mat-toolbar>
  </p>
  
  
