.screen{
   min-height: 100vh
}

h2{
   text-align: center;
   margin: 100px;
   font: x-large;
}

.mat-grid-list{
   margin: auto;
   max-width: 1100px;
   margin-bottom: 100px;
}

.example-form {
   min-width: 150px;
   max-width: 550px;
   font-size: larger;
   width: 100%;
   margin: auto;
   margin-bottom: 50px;
 }
 
 .example-full-width {
   width: 100%;
}

@media (max-width:600px) {
   .example-form {
      max-width: 350px;
    }
    h2{
      font-size: medium;
      margin: 50px;
    }
}

@media (max-width: 960px) {
   .mat-grid-list{
      max-width: 750px;
   }
}

@media (min-width: 1919px) {
   .mat-grid-list{
      max-width: 1500px;
   }
}

.spinner{
   margin: auto;
}

.toggle {
   display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.mat-header-cell{
   background-color: black;
   justify-content: center;
   color: white;
   text-align: center;
}

.mat-cell{
   justify-content: center;
   align-items: center;
   text-align: center;
   display: flex;
}

table{
   min-width: 70%;
   margin: auto;
   margin-bottom: 100px;
   border-collapse: collapse;
}


table img{
   height: 120px; 
   width: 90px;
   object-fit: cover;
}
