.screen{
   min-height: 100vh;
}

h2{
   text-align: center;
   margin: 100px;
   font: x-large;
}

.mat-grid-list{
   margin: auto;
   max-width: 1100px;
   margin-bottom: 100px;
}

.example-form {
   max-width: 550px;
   font-size: larger;
   width: 75%;
   margin: auto;
   margin-bottom: 30px;
 }
 
 .example-full-width {
   width: 100%;
}

.spinner{
   margin: auto;
}

.toggle {
   display: flex;
   justify-content: center;
   align-items: center;
   margin-bottom: 50px;
}

.mat-header-cell{
   background-color: black;
   font-size: 16px;
   justify-content: center;
   color: white;
   text-align: center;
   margin-bottom: 10px;
}

.button-panel{
   display: flex;
   flex-direction: row;
   gap: 10px;
   margin: auto;
}

.mat-cell{
   justify-content: center;
   align-items: center;
   text-align: center;
   display: flex;
   margin-bottom: 10px;
   margin-top: 10px;
}

table{
   width: 100%;
   margin: 10px auto;
   margin-bottom: 100px;
   border-collapse: collapse;  
}

.table-card{
   max-width: 1000px;
   width: 80%;
   margin:auto;
   margin-bottom: 100px;
}

.table-container{
   overflow-x: auto;
}

table img{
   height: 120px; 
   width: 90px;
   object-fit: cover;
}

@media (min-width: 1919px) {
   .mat-grid-list{
      max-width: 1500px;
   }
}

@media (max-width: 960px) {
   .mat-grid-list{
      max-width: 720px;
   }
    .button-panel{
      width: 100%;
      flex-direction: column;
    }
   
    .mat-table .mat-header-cell,
    .mat-table .mat-cell{
      font-size: 14px;
    }
}


@media (max-width:600px) {

     .mat-table .mat-row {
      border-bottom: 5px solid #ddd;
      display: block;
    }
    .mat-table {
      border: 0;
      vertical-align: middle
    }
  
    .mat-table caption {
      font-size: 1em;
    }

    .mat-table .mat-header-cell {
      border: 10px solid;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      padding: 0;
      position: absolute;
      width: 1px;
    }

   .mat-table .mat-cell {
      display: block;
      font-size: 1em;
      text-align: right;
      font-weight: bold;
      margin-bottom: 4%;
    }
    .mat-table .mat-cell:before {
      content: attr(data-label);
      float: left;
      text-transform: uppercase;
      font-weight: normal;
      font-size: .85em;
    }

    .mat-table .mat-cell:last-child {
      border-bottom: 0;
      width: 100%;
    }
      .mat-table .mat-cell:first-child {
      margin-top: 4%;
    }


    h2{
      font-size: medium;
      margin: 50px;
    }
   
}



