<div class="poster">
    <a target="_blank" href="https://www.youtube.com/watch?v=2pJXDic6Sp8">Yuji Itadori from Jujutsu Kaisen</a>
    <img src="https://media.discordapp.net/attachments/624756616700624908/1165498290025005167/jujutsu-kaisen-manga-1-1686858157018_ori.webp?ex=654711de&is=65349cde&hm=12b0bcb5469e1686cd21b24ee81103edf37d522f904e7d238cb199a5194e0389&=&width=1148&height=600" alt="">
    <div class="after"></div>
    <div class="content">
        <app-login-form></app-login-form>
    </div>
    
</div>
