
<div class="poster">
    <a target="_blank" href="https://www.youtube.com/watch?v=azVQp9OqjJU">Attack On Titan, The Final Season, Part One, Article Seven, Chapter Twelve, Part Three</a>
    <img style="width: 100%;" src="../../../../assets/ippo-hero-img.png" alt="">
    <div class="after"></div>
    <div class="content">
        <h1>Track your favorite anime</h1>
        <p>One Bookmark at a Time</p>
        <button mat-raised-button (click)="onClick()">Get Started</button>
    </div>
    
</div>
