
<div class="poster">
    <a target="_blank" href="https://www.youtube.com/watch?v=azVQp9OqjJU">Attack On Titan, The Final Season, Part One, Article Seven, Chapter Twelve, Part Three</a>
    <img style="width: 100%;" src="https://media.discordapp.net/attachments/624756616700624908/1167276549179977788/evrimagaci.org_public_mi_media_ba5d0e5c7db56aa33c2b9093cd024624.png?ex=654d8a00&is=653b1500&hm=03d5619ec7350223fda54952a17fd23b7f80e9f8fd87493eea492326c1a7e270&=&width=937&height=600" alt="">
    <div class="after"></div>
    <div class="content">
        <h1>Track your favorite anime</h1>
        <p>One Bookmark at a Time</p>
        <button mat-raised-button (click)="onClick()">Get Started</button>
    </div>
    
</div>
