<div class="screen">
<app-home-hero></app-home-hero>

<form class="example-form">
    <mat-form-field class="example-full-width">
      <mat-label>Search Bookmarks</mat-label>
      <input matInput [(ngModel)]="searchText" name="searchText" (input)="filterBookmarks()">
    </mat-form-field>
  </form>
  
  <mat-spinner class="spinner" diameter="80" *ngIf="loading"></mat-spinner>
  <h2 *ngIf="this.bookmarks.length == 0 && !loading">It appears like you don't have any bookmarks. Click the button above to create some.</h2>
  <mat-grid-list [cols]="getGridCols()" *ngIf="!loading && this.bookmarks.length > 0" rowHeight="450px" [gutterSize]="'10px'">
    <div *ngFor="let bookmark of filteredBookmarks">
        <mat-grid-tile>
            <app-show-card [bookmark] = "bookmark"></app-show-card>
        </mat-grid-tile>
      </div>
    
  </mat-grid-list>
</div>
  
