.screen{
   min-height: 80vh
}

h1{
   font-size: xx-large; 
   text-align: center;
   margin: 100px;
   font-weight: bold;
}

h2{
   text-align: center;
   margin: 100px;
   font: x-large;
}

.mat-grid-list{
   margin: auto;
   max-width: 1200px;
   margin-bottom: 200px;
}

.example-form {
   min-width: 150px;
   max-width: 550px;
   font-size: larger;
   width: 100%;
   margin: auto;
   margin-bottom: 80px;
 }
 
 .example-full-width {
   width: 100%;
}

@media (max-width:600px) {
   .example-form {
      max-width: 400px;
    }
}

@media (min-width:1919px) {
   .mat-grid-list{
      max-width: 1500px;
   }
}