
<div class="poster">
    <a target="_blank" href="https://www.youtube.com/watch?v=azVQp9OqjJU">Sousou no Frieren, written by Kanehito Yamada</a>
    <img style="width: 100%;" src="https://media.discordapp.net/attachments/624756616700624908/1165428889892421682/Frieren_Altered.png?ex=6546d13b&is=65345c3b&hm=cd18d6299f636b306466086663c43bee02318a2b7310acd589f0ee49919ca63e&=&width=1156&height=600" alt="">
    <div class="after"></div>
    <div class="content">
        <app-signup-form></app-signup-form>
    </div>
    
</div>




