.container{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.container h2{
    font-size: 50px;
    font-family: 'Mochiy Pop One', sans-serif;
}

.container .accordian{
    width: 600px;
}

.accordian .panel{
    padding: 10px;
}

.accordian .title{
    font-size: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
    font-weight: bold;
    line-height: 30px;
}

.accordian .description{
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
}

.container button{
    min-width: 300px;
    background-color: black;
    color: white;
    font-size: 24px;
    padding: 6px;
}

@media screen and (min-width:600px) and (max-width:843px){
    .container{
        min-height: 60vh;
        padding-top:80px;
        padding-bottom: 80px;
    }
}

@media (max-width:599px){
    .container{
        min-height: 60vh;
        gap: 50px;
        padding-top:100px;
        padding-bottom: 100px;
    }
    .container h2{
        font-size: 36px;
    }
    
    .container .accordian{
        width: 380px;
    }
    
    .accordian .panel{
        padding: 8px;
    }
    
    .accordian .title{
        font-size: 20px;
        padding-top: 20px;
        padding-bottom: 20px;
        line-height: 20px;
    }
    
    .accordian .description{
        font-size: 16px;
        font-weight: 400;
        line-height: 30px;
    }
    
    .container button{
        min-width: 200px;
        font-size: 20px;
        padding: 4px;
    }
}

@media (max-width:400px){
    .container .accordian{
        width: 300px;
    }
    
    .accordian .panel{
        padding: 4px;
    }
    
    .accordian .title{
        font-size: 16px;
        padding-top: 16px;
        padding-bottom: 16px;
        line-height: 16px;
    }
    
    .accordian .description{
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
    }

        
    .container button{
        min-width: 150px;
        font-size: 16px;
        padding: 0px;
    }

}