
  <mat-toolbar [class.navbar-mobile-open]="menuOpened && mobileView" class="navbar">
    <a href= " " class="navbar-header">
      <img src="../../assets/logo.png"/>
      <span>Ippo!!</span>
    </a>
    <span class="example-spacer"></span>

    <div *ngIf="LoggedIn() && !mobileView" class="navbar-list">
      <p class="navbar-item">
        {{this.user}}
      </p>
      <button style="color: black; margin: 10px;" mat-raised-button (click)="LogOut()">
        Log Out
      </button>
  </div>

    <div *ngIf="!LoggedIn() && !mobileView" class="navbar-list">
      <a [routerLink]="link.path" *ngFor="let link of navbarLinks" [class.disabled]="isCurrentRoute(link.path)" class="navbar-item navbar-link">{{link.name}}</a>
    </div>
      <button *ngIf="mobileView" mat-icon-button class="menu-button" (click)="HandleMenu()" aria-label="Example icon-button with a menu">
        <mat-icon *ngIf="!menuOpened">menu</mat-icon>
        <mat-icon *ngIf="menuOpened">close</mat-icon>
      </button>
    
  </mat-toolbar>


  <div class="mobile-list" *ngIf="menuOpened && mobileView">
  <div class="mobile-list-section" *ngIf="LoggedIn()">
    <p>
      {{this.user}}
    </p>
    <button mat-flat-button style="width: 100%;" (click)="LogOut()">Log Out</button>
  </div>
  <div class="mobile-list-section" *ngIf="!LoggedIn()">
    <a *ngFor="let link of navbarLinks" [attr.href]="link.path">{{link.name}}</a>
  </div>
  </div>

  
  
