  h1{
    font-size: xx-large;
    font-weight: bold;
  }

  h3{
    font-size: x-large;
    font-weight: bold;
    padding-bottom: 15px;
    padding-top: 10px;
  }

  p{
    font-size: large;
    padding-bottom: 15px;
  }

.card {
  position: relative;
  width: 300px; /* Adjust the card width as needed */
  height: 400px; /* Adjust the card height as needed */
  overflow: hidden;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.6); /* Adjust the background color and opacity */
  color: white; /* Text color */
  padding: 16px;
  backdrop-filter: blur(3px);
}

/* .card:hover .overlay{
  height: 94%;
} */


.card:hover .hidden-text, .card:active .hidden-text{
  display: inline
}



.hidden-text{
  display: none;
}

.overlay-text {
  margin: 0;
}


.mat-button{
  margin: 10px;
  font-size: larger;
}

.mal-url{
  color: white;
  text-decoration: none;
}

.mal-url:hover{
  text-decoration: underline;
}

@media(max-width:600px){

  .card {
    position: relative;
    width: 262px !important; /* Adjust the card width as needed */
    height: 350px !important; /* Adjust the card height as needed */
    overflow: hidden;
  }

  h1{
    font-size: x-large;
  }

  h3{
    font-size: large;
    padding-bottom: 15px;
    padding-top: 10px;
  }

  p{
    font-size: medium;
    padding-bottom: 15px;
  }
  
}

