<div class="container">
    <div class="header">
        <h2>
            Stream Links
        </h2>
        <p>Legal streams are delivered to you, making keeping up with your favorite shows easier</p>
    </div>
    <div class="card-container">
        <div class="card">
            <h3>{{demoName}}</h3>
            <div class="link-list">
                <a [href]="link.url" *ngFor="let link of demoLinks"><img class="logo-image" *ngIf="streamingPlatforms[link.stream]" [src]="streamingPlatforms[link.stream]" alt="Platform Image"/> {{link.stream}}</a>
            </div>
        </div>
        <p>*Example Links</p>
    </div>
</div>
