.container{
    background-color: black;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:center;
    padding: 100px;
}

.container .header{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    margin: auto;
    width: 70%;
    text-align: center;
    gap: 20px;
    padding: 80px;
}

.header h2{
    font-size: 50px;
    font-family: 'Mochiy Pop One', sans-serif;
    line-height: 60px;
}

.header p{
    font-size: 36px;
    font-weight: 400;
    line-height: 50px;
}

.container .card-container{
    width: 30%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card-container .card{
    margin: auto;
    background-color: white;
    padding: 35px;
    border-radius: 8px;
    color: black;
}

.card h3{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 40px;
}
.card .link-list{
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.card a{
    font-size: 30px;
    line-height: 40px;
    font-weight: 400;
    text-align: left;
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
}


.card a:hover{
    opacity: 80%;
}

.card .logo-image{
    margin-right: 10px;
    height: 40px;
}

.card-container p{
    margin-top: 15px;
    font-size: 20px;
    font-weight: bold;
}

@media (max-width:843px) {
    .container{
        padding-top: 100px;
        padding-bottom: 100px;
        flex-direction: column;
        align-items: center;
        justify-content:center;
        padding-left: 10px;
        padding-right: 10px;
        gap: 40px;
    }

    .container .header{
        align-items: center;
        padding: 00px;
        gap: 10px;
    }
    
    .container .card-container{
        width: 100%;
    }
     
    .card .link-list{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    
}


@media screen and (min-width: 600px) and (max-width:843px) {

    .container .header{
        gap: 20px;
    }
    
    .header h2{
        font-size: 40px;
    }
    
    .header p{
        font-size: 24px;
        line-height: 30px;
    }
    
    .card-container .card{
        margin: auto;
        background-color: white;
        padding: 35px;
        border-radius: 8px;
        color: black;
    }
    
    .card h3{
        font-size: 24px;
        font-weight: bold;
        text-align: center;
        margin-bottom: 30px;
    }
    
    .card a{
        font-size: 24px;
        font-weight: 400;
        text-align: left;
        text-decoration: none;
        color: black;
        display: flex;
        align-items: center;
    }
    
    .card .logo-image{
        margin-right: 10px;
        height: 40px;
    }
    
    .card-container p{
        margin-top: 15px;
        font-size: 20px;
    }
}

@media (max-width:599px){

    .container .header{
        gap: 20px;
        max-width: 600px;
    }
    
    .header h2{
        font-size: 30px;
    }
    
    .header p{
        font-size: 20px;
        line-height: 30px;
    }
    
    .card-container .card{
        margin: auto;
        background-color: white;
        padding: 35px;
        border-radius: 8px;
        color: black;
    }
    
    .card h3{
        font-size: 20px;
        font-weight: bold;
        text-align: center;
        margin-bottom: 30px;
    }
    
    .card a{
        font-size: 20px;
        font-weight: 400;
        text-align: left;
        text-decoration: none;
        color: black;
        display: flex;
        align-items: center;
    }
    
    .card .logo-image{
        margin-right: 10px;
        height: 40px;
    }
    
    .card-container p{
        margin-top: 15px;
        font-size: 16px;
    }
}




