


<!-- <table>
  <thead>
    <tr>
      <th>Image</th>
      <th>Name</th>
      <th>Show Type</th>
      <th>Progress</th>
      <th>Last Seen Description</th>
      <th>Watch</th>
      <th>Edit</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let bookmark of this.bookmarks">
      <td><img [src]="bookmark.imageUrl" /> </td>
      <td>{{ bookmark.name }}</td>
      <td style="font-weight: bolder;">{{ bookmark.showType }}</td>
      <td>{{bookmark.showType === 'TV' ? bookmark.episodesWatched : bookmark.timeStamp }}</td>
      <td>{{ bookmark.lastSeenDescription || "No set description" }}</td>
      <td><button mat-raised-button>Watch</button></td>
      <td><button mat-raised-button color="primary">Edit</button></td>
    </tr>
  </tbody>
</table> -->

