.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    color: white;
    background-color: black;
    padding-top: 100px;
    padding-bottom: 100px;
}

.container img{
    height: 250px;
}

.container h1{
    font-size: 50px;
    font-family: 'Mochiy Pop One', sans-serif;
}

.container .description{
    display: flex;
    text-align: center;
    flex-direction: column;
    gap: 24px;
    padding-left: 180px;
    padding-right: 180px;
}

.container .description h2{
    font-size: 30px;
    font-weight: lighter;
    line-height: 40px;
}

@media screen and (min-width:843px) and (max-width:1280px){
    
    .container .description{
        padding-left: 50px;
        padding-right: 50px;
    }
}

@media screen and (min-width:600px) and (max-width:842px){
    .container{
        padding-top: 70px;
        padding-bottom: 70px;
    }

    .container img{
        height: 200px;
    }
    
    .container h1{
        font-size: 40px;
    }
    
    .container .description{
        gap: 20px;
        padding-left: 80px;
        padding-right: 80px;
        
    }
    
    .container .description h2{
        font-size: 20px;
    }
}

@media (max-width:599px){
    .container{
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .container img{
        height: 175px;
    }
    
    .container h1{
        font-size: 30px;   
    }
    
    .container .description{
        padding-left: 50px;
        padding-right: 50px;
        gap: 20px;
    }
    
    .container .description h2{
        font-size: 16px;
    }
}
