h1{
    font-size: xx-large;
    font-weight: bold;
    margin-bottom: 50px;
    text-align: center;
}

.hero{
    margin: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}